<header class="header" id="header">
    <div class="nav container">
      <a href="#" class="nav__logo">
        PAHOME <i class="bx bxs-home-alt-2"></i>
      </a>

      <div class="nav__menu">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="#home" class="nav__link active-link">
              <i class="bx bx-home-alt-2"></i>
              <span>Home</span>
            </a>
          </li>

          <li class="nav__item">
            <a href="#popular" class="nav__link">
              <i class="bx bx-building-house"></i>
              <span>Residences</span>
            </a>
          </li>

          <li class="nav__item">
            <a href="#value" class="nav__link">
              <i class="bx bx-award"></i>
              <span>Value</span>
            </a>
          </li>

          <li class="nav__item">
            <a href="#contact" class="nav__link">
              <i class="bx bx-phone"></i>
              <span>Contact</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- Theme change button -->
      <i class=' change-theme' id="theme-button" ></i>

      <a href="#" class="button nav__button"> Log in </a>
    </div>
  </header>
