<section class="contact section" id="contact">
    <div class="contact__container container grid">
        <div class="contact__images">
            <div class="contact__orbe"></div>
            <div class="contact__img">
                <img src="assets/img/contact.png" alt="">
            </div>
        </div>
        <div class="contact__content">
            <div class="contact__data">
                <span class="section__subtitle">Contáctanos</span>
                <h2 class="section__title">

                    Fácil de contactarnos<span>.</span>
                </h2>
                <p class="contact__description">
                    ¿Problemas para hallar la casa de tus sueños? ¿Necesitas una guía para tu primera compra de vivienda o una consulta sobre temas residenciales? No dudes en contactarnos.
                </p>
            </div>

            <div class="contact__card">
                
                <div class="contact__card-box">
                    <div class="contact__card-info">
                        <i class='bx bxs-message-rounded-dots'></i>
                        <div>
                            <h3 class="contact__card-title">
                                Whatsapp
                            </h3>
                            <p class="contact__card-description">
                                809-555-5555
                            </p>
                        </div>
                    </div>
                    <button class="button contact__card-button">
                        Escríbenos
                    </button>
                </div>
                
                <div class="contact__card-box">
                    <div class="contact__card-info">
                        <i class='bx bxs-envelope'></i>
                        <div>
                            <h3 class="contact__card-title">
                                Email
                            </h3>
                            <p class="contact__card-description">
                                email.com
                            </p>
                        </div>
                    </div>
                    <button class="button contact__card-button">
                        Escríbenos ahora
                    </button>
                </div>
                <div class="contact__card-box">
                    <div class="contact__card-info">
                        <i class='bx bxs-phone-call'></i>
                        <div>
                            <h3 class="contact__card-title">
                                Llámanos
                            </h3>
                            <p class="contact__card-description">
                                809-555-5555
                            </p>
                        </div>
                    </div>
                    <!-- <button class="button contact__card-button">
                        Call Now
                    </button> -->
                </div>
            </div>
        </div>
    </div>
</section>