<section class="value section" id="value">
    <div class="value__container container grid">
        <div class="value__image">
            <div class="value__orbe"></div>

            <div class="value__img">
                <img src="assets/img/value.jpg" alt="">
            </div>
        </div>

        <div class="value__content">
            <div class="value__data">
                <span class="section__subtitle">Nuestro Valor</span>
                <h2 class="section__title">
                  Valor que te ofrecemos<span>.</span>
                </h2>
                <p class="value__description">
                  En PAHOME Group, nuestra misión es brindarte una experiencia excepcional en cada transacción, asegurando que tu inversión sea la mejor posible. Creemos que la asesoría inmobiliaria de calidad es fundamental para lograr tus objetivos, ya sea en la compra, venta o administración de inmuebles.
                </p>
            </div>

            <div class="value__accordion">
              

                <div  class="value__accordion-item">
                  <header class="value__accordion-header">
                    <i class='bx bxs-x-square value__accordion-icon'></i>
                    <h3 class="value__accordion-title">
                      Misión
                    </h3>
                    <!-- <div class="value__accordion-arrow">
                        <i class='bx bxs-down-arrow' ></i>
                    </div> -->
                  </header>

                  <div class="value__accordion-content">
                      <p class="value__accordion-description">
                        Brindar a nuestros clientes una experiencia excepcional en cada transacción, convirtiendo cada una de ellas en su mejor inversión.
                      </p>
                  </div>
              </div>

              <div  class="value__accordion-item">
                  <header class="value__accordion-header">
                      <i class='bx bxs-bar-chart-square value__accordion-icon' ></i>
                    <h3 class="value__accordion-title">
                      Visión 
                    </h3>
                    <!-- <div class="value__accordion-arrow">
                        <i class='bx bxs-down-arrow' ></i>
                    </div> -->
                  </header>

                  <div class="value__accordion-content">
                      <p class="value__accordion-description">
                        Consolidarnos como una empresa líder en la República Dominicana y en el extranjero, enfocada en ofrecer asesoría integral en la compra, venta y administración de inmuebles, mientras alcanzamos los más altos estándares de calidad para nuestros clientes.
                      </p>
                  </div>
              </div>

              <div  class="value__accordion-item">
                  <header class="value__accordion-header">
                      <i class='bx bxs-check-square value__accordion-icon'></i>
                    <h3 class="value__accordion-title">
                      Objetivos del Negocio
                    </h3>
                    <!-- <div class="value__accordion-arrow">
                        <i class='bx bxs-down-arrow' ></i>
                    </div> -->
                  </header>

                  <div class="value__accordion-content">
                      <p class="value__accordion-description">
                        Nuestro objetivo es potenciar a nuestros clientes en la venta y alquiler de inmuebles, actuando como brókeres exclusivos en la gestión de sus propiedades, así como facilitar la adquisición de alquiler o compra. Además, nos dedicamos a la administración de condominios residenciales y comerciales, asegurando una gestión eficaz y profesional.
                      </p>
                  </div>
                  
              </div>
            </div>
        </div>
    </div>
</section>